<a href="https://colab.research.google.com/github/ssrkb/Python/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hare Krishna")

Hare Krishna

In [5]:
name="soham"
print(name)
print(type(name))
# int , float, string, boolean, none <-- main data types

soham
<class 'str'>

In [ ]:
"""4 types of operators
  arithmetic --> +, -, *, /, %, **(power)
  relational --> ==, !=, >, <, >=, <=
  assignment --> =, +=, -=, *=, /=, %=, **=
  boolean --> and , or , not
"""

In [6]:
"""
type conversion - interpreter automatically converts
type casting - we do it manually
"""
num = int("34")
print(type(num), num)

<class 'int'> 34

In [2]:
name = input("enter your name : ")
print(name)
# all inputs has type string
age = int(input("enter your age : "))
print(age)

enter your age : 23
23

In [14]:
# slicing
name = "soham chougule"
print(name[1:len(name)])
print(name[:len(name)])
print(name[-8:len(name)])
print(name[6:])

oham chougule
soham chougule
chougule
chougule

In [25]:
#lists --> mutable
# but strings are immutable ex- name[0]='k' not allowed
marks=[1,2,95,75]
print(marks)
print(marks[4:5])
marks.sort(reverse=True)
print(marks)

[1, 2, 95, 75]
[]
[95, 75, 2, 1]

In [6]:
# tuple --> immutable
tup = (1,2,3,4)
print(tup[1])
print(tup[:3])

2
(1, 2, 3)

In [15]:
mov = []
for i in range(3):
  a = input("enter name")
  mov.append(a);
print(mov )

enter name1
enter name1
enter name2
['1', '1', '2']