<a href="https://colab.research.google.com/github/ssrkb/Python/blob/main/basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print("Hare Krishna")

Hare Krishna

In [5]:
name="soham"
print(name)
print(type(name))
# int , float, string, boolean, none <-- main data types

soham
<class 'str'>

In [ ]:
"""4 types of operators
  arithmetic --> +, -, *, /, %, **(power)
  relational --> ==, !=, >, <, >=, <=
  assignment --> =, +=, -=, *=, /=, %=, **=
  boolean --> and , or , not
"""

In [6]:
"""
type conversion - interpreter automatically converts
type casting - we do it manually
"""
num = int("34")
print(type(num), num)

<class 'int'> 34

In [2]:
name = input("enter your name : ")
print(name)
# all inputs has type string
age = int(input("enter your age : "))
print(age)

enter your age : 23
23